<div class="container">
  <div class="container__button">
    <button (click)="foodPage()">Ver gatos</button>
  </div>
  <div class="container__info">
    <table class="table">
      <tr class="tr">
        <td class="td">Celda 1</td>
        <td class="td">Celda 2</td>
        <td class="td">Celda 3</td>
      </tr>
      <tr class="tr">
        <td class="td">Celda 4</td>
        <td class="td">Celda 5</td>
        <td class="td">Celda 6</td>
      <tr class="tr">
        <td class="td">Celda 4</td>
        <td class="td">Celda 5</td>
        <td class="td">Celda 6</td>
      </tr>
      <tr class="tr">
        <td class="td">Celda 4</td>
        <td class="td">Celda 5</td>
        <td class="td">Celda 6</td>
      </tr>
    </table>
  </div>
</div>