<div class="container">
  <div class="container__button">
    <button (click)="dogPage()">Ver perros</button>
    <button (click)="greenDogsPage()">Ver perros verdes</button>
    <button (click)="foodPage()">Ver comida de perros</button>
    <button (click)="catPage()">Ver gatos</button>
  </div>
  <div class="container__text">
    <div class="title">Solemne 1</div>
    <div class="text">Integrantes :</div>
    <div class="text">Ignacio González</div>
    <div class="text">Sebastián Riquelme</div>
    <div class="text">Christopher Venegas</div>
  </div>
</div>