<div class="container">
  <div class="container__button">
    <button (click)="catPage()">Ver gatos</button>
  </div>
  <div class="container__title">Listado de comida de perro</div>
  <div class="container__info">
    <table class="table">
      <tr class="tr">
        <td class="td">ID</td>
        <td class="td">NOMBRE</td>
        <td class="td">PROTEINAS</td>
      </tr>
    </table>
    <table class="table" *ngFor='let food of foods'>
      <tr class="tr">
        <td class="td">{{ food.id }}</td>
        <td class="td">{{ food.name }}</td>
        <td class="td">{{ food.proteins }}</td>
      </tr>
    </table>
  </div>
</div>