<div class="container">
  <div class="container__button">
    <button (click)="greenDogsPage()">Ver perros verdes</button>
  </div>
  <div class="container__title">Listado de perros</div>
  <div class="container__info">
    <table class="table">
      <tr class="tr">
        <td class="td">ID</td>
        <td class="td">NOMBRE</td>
        <td class="td">COLOR</td>
        <td class="td">RAZA</td>
        <td class="td">SEXO</td>
      </tr>
    </table>
    <table class="table" *ngFor='let dog of dogs'>
      <tr class="tr">
        <td class="td">{{ dog.id }}</td>
        <td class="td">{{ dog.name }}</td>
        <td class="td">{{ dog.color }}</td>
        <td class="td">{{ dog.raza }}</td>
        <td class="td">{{ dog.isMale }}</td>
      </tr>
    </table>
  </div>
</div>